/* <------------START HEADER-------------------> */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
/* <------------END HEADER-------------------> */

/* <------------FOOTER-------------------> */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
/* <------------ END FOOTER-------------------> */
/* <------------ ABOUT -------------------> */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-top: 0;
  }
/* <------------ END FOOTER-------------------> */

img{
    height: 500px;
    width: 800px;
}



form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

header .active a{
  background-color: red;
}