{% include "header.html" %}
    <H1>{{body}}</H1>
    {% for n in list %}
    <div>
      {{forloop.counter}}  {{n}}
    </div>
    {% endfor %}
    <br>
    <table border="1 solid" cellpadding="10"> 
        <tr>
            <th>Name</th>
            <th>Phone number</th>
        </tr>
        {% for d in students  %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.phone}}</td>
        </tr>
        {% endfor %}
    </table>

    <img src="static/image/everest.jpg" alt="">

{% include "footer.html" %}

