{% extends 'base.html' %}
{% block content %}
<main>
    <section>
      <h2>About Us</h2>
      <p>My Company was founded in 2000 with a mission to provide high-quality products and services to customers around the world. Since then, we have grown into a global leader in our industry, with a team of over 500 employees and customers in more than 50 countries.</p>
      <p>We are committed to delivering innovative solutions that meet the evolving needs of our customers, and we pride ourselves on our dedication to quality, safety, and sustainability.</p>
    </section>
    <section>
      <h2>Our Team</h2>
      <p>Our team is made up of some of the brightest and most talented individuals in the industry. From engineers and designers to sales and marketing professionals, each member of our team brings unique skills and expertise to the table.</p>
      <p>We believe in fostering a culture of collaboration, respect, and innovation, and we are constantly striving to create a workplace where our employees can thrive and grow.</p>
    </section>
</main>
{% endblock %}